.container{
    width: 100%;
    min-height: 100vh;
}

.container  main {
    display: flex;
}

.container main>.content {
    background-color: var(--grey-color-2);
    flex: 4;
    width: 80%;
    @apply relative flex flex-col;
}

.container main>.contentLogin {
    @apply  w-full flex flex-col;
}

.sidebar {
    flex: 1;
}

@media screen and (max-width: 767px) {
    .sidebar {
            display: none;
        }
}

@media screen and (min-width: 768px) {
   
}

@media screen and (min-width: 1024px) {
   
}
@media screen and (min-width: 3840px) {}